{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="WordSmith is a social media site that is developed specifically for the writer community. ">
    <meta name="robots" content="base, follow">
    <link rel="icon" href="{% static 'pen.svg' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'iconic/font/css/open-iconic-bootstrap.css' %}"
    />

    <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500&family=Great+Vibes&display=swap" rel="stylesheet">

    <title>WordsSmith</title>

  </head>

  <body>
    <header class="main-head">
      <nav>
          <a class="flex" href="{% url 'home' %}">
            <img
              src="{% static 'pen.svg' %}"
              class="d-inline-block align-top"
              height="25"
              width="25"
            />
            <p class="logo"> WordSmith</p>
          </a>
            <ul class="navbar-nav ml-auto">
              {% if user.is_authenticated %}
              <li>
                <a class ="btn" href="{% url 'create' %}"

                >Post</a>
              </li>
              <li>
                <a class="btn"

                  href="javascript:{document.getElementById('logout').submit()}"
                  >Log Out</a
                >
              </li>
              <form action="{% url 'logout' %}" id="logout" method="POST">
                {% csrf_token %}
                <input type="hidden" />
              </form>
              {% else %}
              <li>
                <a class="btn" href="{% url 'signup' %}">Sign Up</a>
              </li>
              <li>
                <a class="btn" href="{% url 'login' %}">Log In</a>
              </li>

            </ul>



      </nav>
      {% endif %}
    </header>

    <div>
      {% block content %} {% endblock %}
    </div>

    <footer>
      <div class="footer-wrapper">
      <h5>&#169;Copyright Umorjyoti Chetia {% now "Y" %}</h5>
      <ul>
        <li><a title="LinkedIn" target="_blank" href="https://www.linkedin.com/in/umotjyoti-chetia-207726156/"><img src="{% static 'linkedin.svg' %}" alt="LinkedIn-link"></a></li>
        <li><a title="Email" href="mailto:umorjyotichetia@gmail.com"><img src="{% static 'email.svg' %}" alt="Email"></a></li>
        <li><a title="Instagram" target="_blank" href="https://www.instagram.com/umorjyoti/"><img src="{% static 'insta.svg' %}" alt="instagram-link"></a></li>
      </ul>
    </div>
    </footer>
  </body>
</html>
